<div class="modal-header">
    <h3 class="modal-title">{{showEditStatus(edit)+'支付渠道'}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form class="form-horizontal" name='myForm'>
                        <legend class="text-center">概况</legend>
                         <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">code</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.code" name='code' ng-pattern='/^[^/]*$/' ng-disabled='!hasPower||edit==3' required class="form-control" type="text"
                                       placeholder="string no '/'">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.code.$dirty&&myForm.code.$invalid">
                                {{checkRequiredData()}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">min</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.min" name='min' ng-disabled='!hasPower' required class="form-control" type="number"
                                       placeholder="0.01-100000">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.min.$dirty&&(myForm.min.$invalid||!checkPaymentMethodsMinMax(modalItem.min))">
                                    {{'0.01-100000'}}
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">max</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.max" name='max' ng-disabled='!hasPower' required class="form-control" type="number"
                                       placeholder="0.01-100000">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.max.$dirty&&(myForm.max.$invalid||!checkPaymentMethodsMinMax(modalItem.max))">
                                    {{'0.01-100000'}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">货币</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.currency"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose currency">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in currencyOptions">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">种类</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.type"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose type">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in typeOptions">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">禁用</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.disabled"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose disabled">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in disabledOptions">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </form>
                    <div class='clearfix'></div>
                    <legend class="text-center">名称</legend>
                    <span class="form-group add-button-class no-block">
                        <button
                            ng-show="hasPower"
                            class="btn btn-primary"
                            ng-click="addMethodsNameModal()"
                            type="button"
                            translate="table.button.add"
                        >
                            新增
                        </button>
                    </span>
                    <form class="form-inline pull-right add-button-class" role="form">
                        <div style="position: relative" class="form-group">
                            <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                            <input
                                class="form-control" type="text" ng-model="methodsNameModalSearch"
                                placeholder="{{searchPlaceholder(['table.paymentMethods.name.th2'])}}"
                            >
                        </div>
                    </form>
                    <div
                        web-data-table
                        items="methodsNameModal"
                        ao-data="methodsNameModalAoData"
                        search="methodsNameModalSearch"
                        reload="methodsNameModalReload"
                        show-items="showMethodsNameModal"
                    >
                        <table width="100%" class="table table-bordered table-hover bg-white">
                            <thead>
                            <tr class="bg-gray-light text-bold">
                                <td style="width: 40%" ao-data="methodsNameModalAoData" web-data-table-sort="locale">
                                    {{'table.paymentMethods.name.th1' | translate}}
                                </td>
                                <td style="width: 40%" ao-data="methodsNameModalAoData" web-data-table-sort="value">
                                    {{'table.paymentMethods.name.th2' | translate}}
                                </td>
                                <td style="width: 17%" ng-show="hasPower">{{'table.button.operation' | translate}}</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in showMethodsNameModal">
                                <td>
                                    <span
                                        editable-select="item.locale" e-name="locale" e-form="rowform"
                                        onbeforesave="checkRequiredData($data)"
                                        e-ng-options="option.value as option.label for option in localesOptions"
                                    >
                                        {{showOptionsValue(item.locale,localesOptions)}}
                                    </span>
                                </td>
                                <td>
                                    <span
                                        editable-text="item.value" e-name="value" e-formclass="xeditable-sm"
                                        onbeforesave="checkRequiredData($data)" e-form="rowform" e-required=""
                                    >{{ item.value || '' }}</span>
                                </td>
                                <td style="white-space: nowrap;" ng-show="hasPower">
                                    <form
                                        class="form-buttons form-inline" editable-form name="rowform"
                                        onaftersave="saveMethodsNameModal(item, $data)" ng-show="rowform.$visible"
                                        shown="validIsNew(item.id)"
                                    >
                                        <button
                                            class="btn btn-sm btn-info" type="submit" ng-disabled="rowform.$waiting"
                                            title="{{'table.button.save' | translate}}"
                                        >
                                            <em class="fa fa-save"></em>
                                        </button>
                                        <button
                                            class="btn btn-sm btn-default" type="button" ng-disabled="rowform.$waiting"
                                            ng-click="rowform.$cancel();cancelSaveModal(item,$index)"
                                            title="{{'table.button.cancel' | translate}}"
                                        >
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button
                                            class="btn btn-sm btn-info" ng-click="rowform.$show()"
                                            title="{{'table.button.edit' | translate}}"
                                        >
                                            <em class="fa fa-pencil"></em>
                                        </button>
                                        <button
                                            class="btn btn-sm btn-danger"
                                            ng-click="deleteMethodsNameModal(item, $index)"
                                            title="{{'table.button.delete' | translate}}"
                                        >
                                            <em class="fa fa-trash"></em>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="showMethodsNameModal.length==0">
                                <td colspan="20" class="">{{'table.no_date' | translate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled='!checkPaymentMethodsMinMax(modalItem.min)||!checkPaymentMethodsMinMax(modalItem.max)||myForm.$invalid' ng-show="hasPower" ng-click="confirmModal()">
        {{'table.button.save' | translate}}</button>
    <button
        class="btn btn-default" type="button" ng-click="cancelModal()"
    >{{'table.button.cancel' | translate}}</button>
</div>

