<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <button
                        class="btn btn-primary"
                        ng-click="addPaymentMethods()"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="paymentMethodsSearch" placeholder="{{searchPlaceholder(['table.paymentMethods.th1', 'table.paymentMethods.th2', 'table.paymentMethods.th3'])}}">
                    </div>
                </form>
                <div
                        web-data-table
                        items="paymentMethods"
                        ao-data="paymentMethodsAoData"
                        search="paymentMethodsSearch"
                        reload="paymentMethodsReload"
                        show-items="showPaymentMethods"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 10%" ao-data="paymentMethodsAoData" web-data-table-sort="code">
                                {{'table.paymentMethods.th1' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="paymentMethodsAoData" web-data-table-sort="name">
                                {{'table.paymentMethods.th2' | translate}}
                            </td>
                            <td style="width: 20%" ao-data="paymentMethodsAoData" web-data-table-sort="currency">
                                {{'table.paymentMethods.th3' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="paymentMethodsAoData" web-data-table-sort="min">
                                {{'table.paymentMethods.th4' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="paymentMethodsAoData" web-data-table-sort="max">
                                {{'table.paymentMethods.th5' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="paymentMethodsAoData" web-data-table-sort="type">
                                {{'table.paymentMethods.th6' | translate}}
                            </td>
                            <td style="width: 6%" ao-data="paymentMethodsAoData" web-data-table-sort="disabled">
                                {{'table.paymentMethods.th7' | translate}}
                            </td>
                            <td style="width: 10%">{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in showPaymentMethods">
                            <td>
                                <span editable-text="item.code" e-name="code" e-formclass="xeditable-md"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.code || '' }}</span>
                            </td>
                            <td>
                                <span>
                                    <button class="btn btn-sm btn-info" ng-click="showEditMethodsNameModal(item)">明细</button>
                                </span>
                            </td>
                            <td>
                                <span editable-select="item.currency" e-name="currency" e-form="rowform"
                                      onbeforesave="checkRequiredData($data)"
                                      e-ng-options="option.value as option.label for option in currencyOptions">
                                        {{showOptionsValue(item.currency,currencyOptions)}}
                                </span>
                            </td>
                            <td>
                                <span editable-text="item.min" e-name="min" e-formclass="xeditable-sm"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.min || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.max" e-name="max" e-formclass="xeditable-sm"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.max || '' }}</span>
                            </td>
                            <td>
                                <span editable-select="item.type" e-name="type" e-form="rowform"
                                      onbeforesave="checkRequiredData($data)"
                                      e-ng-options="option.value as option.label for option in typeOptions">
                                        {{showOptionsValue(item.type,typeOptions)}}
                                </span>
                            </td>
                            <td>
                                <span>{{item.disabled ? 'Yes' : 'No'}}</span>
                            </td>
                            <td style="white-space: nowrap;">
                                <form class="form-buttons form-inline" editable-form name="rowform"
                                      onaftersave="savePaymentMethods(item, $data)" ng-show="rowform.$visible"
                                      shown="item.id == null">
                                    <button class="btn btn-sm btn-info" type="submit" ng-disabled="rowform.$waiting"
                                            title="{{'table.button.save' | translate}}">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="button" ng-disabled="rowform.$waiting"
                                            ng-click="rowform.$cancel();cancelSave(item,$index)"
                                            title="{{'table.button.cancel' | translate}}">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()"
                                            title="{{'table.button.edit' | translate}}">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-show="!item.disabled" ng-click="deletePaymentMethods(item)"
                                            title="{{'table.button.delete' | translate}}">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                    <button class="btn btn-sm btn-green" ng-show="item.disabled" ng-click="recoverPaymentMethods(item)"
                                            title="{{'table.button.recover' | translate}}">
                                        <em class="fa fa-rotate-left"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="showPaymentMethods.length==0">
                            <td colspan="7" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>