<div class="modal-header">
    <h3 class="modal-title">{{'审核千百倍'}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">
                <div class="panel-body">
                    <legend class='text-center'>审核</legend>
                    <form class="form-horizontal" name="myForm">
                        <label class='col-lg-4 col-md-6 control-label'>结果</label>
                        <div class='col-lg-8 col-md-6'>
                            <ui-select
                                ng-model="item.result"
                                theme="bootstrap"
                                search-enabled="false">
                                <ui-select-match placeholder="choose result">
                                    <span ng-bind="$select.selected.label"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.value as item in resultOptions">
                                    <span ng-bind="item.label"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class='clearfix'></div>
                        <label class='col-lg-4 col-md-6 control-label'>建议</label>
                        <div class='col-lg-8 col-md-6'>
                            <input
                                ng-model='item.comment' class='form-control' type='text'
                            >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!" ng-click="confirmModal()">{{'table.button.save' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="cancelModal()">{{'table.button.cancel' | translate}}</button>
</div>
