<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <div
                        server-data-table
                        items="bigwinsManage"
                        ao-data="bigwinsManageAoData"
                        reload="bigwinsManageReload"
                        service-name="adminService"
                        service-name-attr="getReq"
                        url="bigwinsManageUrl"
                        handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th1' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th2' | translate}}
                            </td>
                            <td style="width: 8%" ao-data="bigwinsManageAoData" server-data-table-sort="times">
                                {{'table.bigwinsManage.th3' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th4' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th5' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th6' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th7' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th8' | translate}}
                            </td>
                            <td style="width: 14%">
                                {{'table.bigwinsManage.th9' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th10' | translate}}
                            </td>
                            <td style="width: 10%" ng-show='validPower("BIGWINSMANAGE", ["POSTAUDIT"])'>{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in bigwinsManage">
                            <td>
                                <span>{{item.user.username}}</span>
                            </td>
                            <td>
                                <span>{{showArrayName(item.game.name)}}</span>
                            </td>
                            <td>
                                <span>{{item.times}}</span>
                            </td>
                            <td>
                                <span>{{item.bet}}</span>
                            </td>
                            <td>
                                <span>{{item.bonus}}</span>
                            </td>
                            <td>
                                <span>{{item.win}}</span>
                            </td>
                            <td>
                                <span>{{item.brand}}</span>
                            </td>
                            <td>
                                <span>{{item.round}}</span>
                            </td>
                            <td>
                                <span>{{formatTime(item.play_time)}}</span>
                            </td>
                            <td>
                                <span>{{item.status}}</span>
                            </td>
                            <td style="white-space: nowrap;" ng-show='validPower("BIGWINSMANAGE", ["POSTAUDIT"])'>
                                <div class="buttons">
                                    <button class="btn btn-sm btn-info" ng-show='validPower("BIGWINSMANAGE", ["POSTAUDIT"])' ng-click='auditBigwinsManage(item)' type="submit"
                                            title="{{'table.button.save' | translate}}">
                                        <em class="fa fa-save"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="bigwinsManage.length==0">
                            <td colspan="20" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>