<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span style='margin-left: 15px' class="form-group add-button-class">
                    <span class='btn-search'>
                        <button
                            class="btn btn-green"
                            ng-click="trigerSearch()"
                            type="button"
                            translate="table.button.search"
                        >
                        </button>
                        <button
                            class="btn btn-warning"
                            ng-click="resetSearch()"
                            type="button"
                            translate="table.button.reset"
                        >
                        </button>
                    </span>
                </span>
                <div class='clearfix'></div>
                <form class="form-horizontal" role="form">
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input-select
                            inputkey='username'
                            outputkey='userId'
                            input-placeholder="{{'table.transactionsDetail.th1' | translate}}"
                            searchkey='username'
                            min-length='3'
                            output-value='bigwinsManageAoData.user_id'
                            url='{{URL.USERSMANAGE.GET}}'
                        >
                        </input-select>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input-select
                            inputkey='username'
                            outputkey='userId'
                            input-placeholder="{{'table.transactionsDetail.th2' | translate}}"
                            searchkey='username'
                            min-length='3'
                            output-value='bigwinsManageAoData.affiliate_id'
                            url='{{URL.USERSMANAGE.GET}}'
                        >
                        </input-select>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input-select
                            inputkey='name'
                            outputkey='id'
                            input-placeholder="game name"
                            searchkey='keyword'
                            min-length='3'
                            output-value='bigwinsManageAoData.game_id'
                            url='{{URL.GAMESMANAGE.GET}}'
                        >
                        </input-select>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="bigwinsManageAoData.min_bet"
                            placeholder="{{'min ' + ('table.bigwinsManage.th4' | translate)}}">
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="bigwinsManageAoData.max_bet"
                            placeholder="{{'max ' + ('table.bigwinsManage.th4' | translate)}}">
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="bigwinsManageAoData.min_win"
                            placeholder="{{'min ' + ('table.bigwinsManage.th6' | translate)}}">
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="bigwinsManageAoData.max_win"
                            placeholder="{{'max ' + ('table.bigwinsManage.th6' | translate)}}">
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="bigwinsManageAoData.min_times"
                            placeholder="{{'min ' + ('table.bigwinsManage.th3' | translate)}}">
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="bigwinsManageAoData.max_times"
                            placeholder="{{'max ' + ('table.bigwinsManage.th3' | translate)}}">
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <ui-select
                            ng-model="bigwinsManageAoData.brand"
                            theme="bootstrap"
                            search-enabled="false"
                        >
                            <ui-select-match placeholder="choose brand">
                                <span ng-bind="$select.selected.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.value as item in brandOptions">
                                <span ng-bind="item.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <ui-select
                            ng-model="bigwinsManageAoData.status"
                            theme="bootstrap"
                            search-enabled="false"
                        >
                            <ui-select-match placeholder="choose status">
                                <span ng-bind="$select.selected.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.value as item in statusOptions">
                                <span ng-bind="item.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!--<div class='col-lg-3 col-md-6 margin-bottom-10'>-->
                        <!--<ui-select-->
                            <!--ng-model="search.brands"-->
                            <!--theme="bootstrap"-->
                            <!--multiple-->
                            <!--close-on-select="false"-->
                            <!--search-enabled="false">-->
                            <!--<ui-select-match placeholder='choose brands'>-->
                                <!--<span>{{$item.label}}</span>-->
                            <!--</ui-select-match>-->
                            <!--<ui-select-choices repeat="item.value as item in brandOptions">-->
                                <!--<span ng-bind="item.label"></span>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <div class="input-group date"
                             datetimepicker
                             options={{dateOptionsYYYMMDDHHmmss}}
                             ng-model="searchTimeStart">
                            <input type="text" class="form-control" placeholder="start"/>
                            <span class="input-group-addon" style="background:none">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <div class="input-group date"
                             datetimepicker
                             options={{dateOptionsYYYMMDDHHmmss}}
                             ng-model="searchTimeEnd">
                            <input type="text" class="form-control" placeholder="end"/>
                            <span class="input-group-addon" style="background:none">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </form>
                <div
                        server-data-table
                        items="bigwinsManage"
                        ao-data="tempBigwinsManageAoData"
                        reload="bigwinsManageReload"
                        service-name="adminService"
                        service-name-attr="getReq"
                        url="bigwinsManageUrl"
                        handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th1' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th2' | translate}}
                            </td>
                            <td style="width: 8%" ao-data="bigwinsManageAoData" server-data-table-sort="times">
                                {{'table.bigwinsManage.th3' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th4' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th5' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th6' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th7' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th8' | translate}}
                            </td>
                            <td style="width: 14%">
                                {{'table.bigwinsManage.th9' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.bigwinsManage.th10' | translate}}
                            </td>
                            <td style="width: 6%" ng-show='validPower("BIGWINSMANAGE", ["POSTAUDIT"])&&item.status.status!=="succeed"'>{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in bigwinsManage">
                            <td>
                                <span>{{item.user.username}}</span>
                            </td>
                            <td>
                                <span>{{showArrayName(item.game.name)}}</span>
                            </td>
                            <td>
                                <span>{{item.times}}</span>
                            </td>
                            <td>
                                <span>{{item.bet}}</span>
                            </td>
                            <td>
                                <span>{{item.bonus}}</span>
                            </td>
                            <td>
                                <span>{{item.win}}</span>
                            </td>
                            <td>
                                <span>{{item.brand}}</span>
                            </td>
                            <td>
                                <span>{{item.round}}</span>
                            </td>
                            <td>
                                <span>{{formatTime(item.play_time)}}</span>
                            </td>
                            <td>
                                <span>{{item.status}}</span>
                            </td>
                            <td style="white-space: nowrap;" ng-show='validPower("BIGWINSMANAGE", ["POSTAUDIT"])&&item.status.status!=="succeed"'>
                                <div class="buttons">
                                    <button class="btn btn-sm btn-info" ng-show='validPower("BIGWINSMANAGE", ["POSTAUDIT"])&&item.status.status!=="succeed"' ng-click='auditBigwinsManage(item)' type="submit"
                                            title="{{'table.button.save' | translate}}">
                                        <em class="fa fa-save"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="bigwinsManage.length==0">
                            <td colspan="20" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>