<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <button
                        ng-show='validPower("GAMECATEGORIES", ["POST"])'
                        class="btn btn-primary"
                        ng-click="addGameCategories()"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input
                            class="form-control" type="text" ng-model="gameCategoriesSearch"
                            placeholder="{{searchPlaceholder(['table.paymentMethods.th1'])}}"
                        >
                    </div>
                </form>
                <div
                    web-data-table
                    items="gameCategories"
                    ao-data="gameCategoriesAoData"
                    search="gameCategoriesSearch"
                    reload="gameCategoriesReload"
                    show-items="showGameCategories"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 80%">
                                {{'ID'}}
                            </td>
                            <td
                                style="width: 17%" ng-show='validPower("GAMECATEGORIES", ["PATCH", "DELETE"])'
                            >{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in showGameCategories">
                            <td>
                                <span>{{item.id}}</span>
                                <!--<span>-->
                                    <!--<button class="btn btn-sm btn-info" ng-click="showGameCategoriesNameModal(item)">{{showAddOrDetail(item.name, item._id)}}</button>-->
                                <!--</span>-->
                            </td>
                            <td
                                style="white-space: nowrap;" ng-show='validPower("GAMECATEGORIES", ["PATCH", "DELETE"])'
                            >
                                <button
                                    class="btn btn-sm btn-info"
                                    ng-show='validPower("GAMECATEGORIES", ["PATCH"])'
                                    ng-click="saveGameCategories(item)"
                                    title="{{'table.button.edit' | translate}}"
                                >
                                    <em class="fa fa-pencil"></em>
                                </button>
                                <button
                                    class="btn btn-sm btn-danger"
                                    ng-show='validPower("GAMECATEGORIES", ["DELETE"])'
                                    ng-click="deleteGameCategories(item)"
                                    title="{{'table.button.delete' | translate}}"
                                >
                                    <em class="fa fa-trash"></em>
                                </button>

                            </td>
                        </tr>
                        <tr ng-show="showGameCategories.length==0">
                            <td
                                colspan='{{validPower("GAMECATEGORIES", ["PATCH", "DELETE"])?2:1}}'
                                class=""
                            >{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>