<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class no-block">
                    <button
                        ng-show='validPower("GAMEBRANDS", ["POST"])'
                        class="btn btn-primary"
                        ng-click="showGameBrandsModal({}, 2)"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="gameBrandsSearch" placeholder="{{searchPlaceholder(['table.gameBrands.th1', 'table.gameBrands.th2', 'table.gameBrands.th3'])}}" >
                    </div>
                </form>
                <div
                    web-data-table
                    items="gameBrands"
                    ao-data="gameBrandsAoData"
                    search="gameBrandsSearch"
                    reload="gameBrandsReload"
                    show-items="showGameBrands"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 20%" ao-data="gameBrandsAoData" web-data-table-sort="code">
                                {{'table.gameBrands.th1' | translate}}
                            </td>
                            <td style="width: 12%">
                                {{'table.gameBrands.th4' | translate}}
                            </td>
                            <td style="width: 20%" ao-data="gameBrandsAoData" web-data-table-sort="wallet">
                                {{'table.gameBrands.th2' | translate}}
                            </td>
                            <!--<td style="width: 12%">-->
                                <!--{{'table.gameBrands.th3' | translate}}-->
                            <!--</td>-->

                            <!--<td style="width: 12%">-->
                                <!--{{'table.gameBrands.th5' | translate}}-->
                            <!--</td>-->
                            <!--<td style="width: 12%">-->
                                <!--{{'table.gameBrands.th6' | translate}}-->
                            <!--</td>-->
                            <td style="width: 12%" ao-data="gameBrandsAoData" web-data-table-sort="status">
                                {{'table.gameBrands.th7' | translate}}
                            </td>
                            <td style="width: 12%" ng-show='validPower("GAMEBRANDS", ["PATCH","GET"])'>{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in showGameBrands">
                            <td>
                                <span>{{ item.code || '' }}</span>
                            </td>
                            <td>
                                <span>
                                    {{showArrayName(item.name)}}
                                </span>
                            </td>
                            <td>
                                <span>
                                    {{ item.wallet || ''}}
                                </span>
                            </td>
                            <!--<td>-->
                                <!--<span>-->
                                    <!--<button class="btn btn-sm btn-info" ng-click="showBrandsNameModal(item)">{{showAddOrDetail(item.name, item._id)}}</button>-->
                                <!--</span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<span>-->
                                    <!--<button class="btn btn-sm btn-info" ng-click="showBrandsLangsModal(item)">{{showAddOrDetail(item.langs, item._id)}}</button>-->
                                <!--</span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<span>-->
                                    <!--<button class="btn btn-sm btn-info" ng-click="showBrandsProductsModal(item)">{{showAddOrDetail(item.products, item._id)}}</button>-->
                                <!--</span>-->
                            <!--</td>-->
                            <td>
                                <span>{{item.status}}</span>
                            </td>
                            <td style="white-space: nowrap;" ng-show='validPower("GAMEBRANDS", ["PATCH","GET"])'>
                                <button
                                    class="btn btn-sm btn-info" ng-show='validPower("GAMEBRANDS", ["PATCH"])' ng-click="showGameBrandsModal(item,3)"
                                    title="{{'table.button.edit' | translate}}"
                                >
                                        <em class="fa fa-pencil"></em>
                                </button>
                                <button class="btn btn-sm btn-green" ng-click="showGameBrandsModal(item,1)"
                                        title="{{'table.button.detail' | translate}}">
                                                <em class="fa fa-folder-open-o"></em>
                                </button>
                            </td>
                        </tr>
                        <tr ng-show="showGameBrands.length==0">
                            <td
                                colspan='20'
                                class=""
                            >{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>