<div class="block-center mt-xl wd-xl" ng-controller="ChangePasswordFormController">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img class="block-center img-rounded" src="img/logo.png" alt="Image"/>
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">Change Password</p>
            <form class="form-validate mb-lg" role="form" name="changePasswordForm"
                  novalidate="">
                <div class="form-group has-feedback">
                    <input class="form-control" type="password" name="account_old_password" ng-focus="oldPasswordMsg=''" placeholder="Old Password"
                           ng-model="account.oldPassword" required=""/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span class="text-danger" ng-show="changePasswordForm.account_old_password.$dirty && changePasswordForm.account_old_password.$error.required">This field is required</span>
                    <span class="text-danger" ng-show="oldPasswordMsg">{{oldPasswordMsg}}</span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type="password" name="account_password0" placeholder="New Password"
                           ng-model="account.password0" required=""/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span class="text-danger"
                          ng-show="changePasswordForm.account_password0.$dirty && changePasswordForm.account_password0.$error.required">This field is required</span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type="password" name="account_password1" placeholder="Repeat Password"
                           ng-model="account.password1" required=""/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span class="text-danger" ng-show="changePasswordForm.account_password1.$dirty && changePasswordForm.account_password1.$error.required">This field is required</span>
                    <span class="text-danger" ng-show="changePasswordForm.account_password1.$dirty && !changePasswordForm.account_password1.$error.required && account.password0 !== account.password1">Two input password inconsistencies</span>
                </div>
                <div class="clearfix"></div>
                <button class="btn btn-block btn-primary mt-lg" ng-disabled="!account.oldPassword || !account.password0 || !account.password1 || account.password0 !== account.password1" ng-click="changePassword()" type="submit">OK</button>
            </form>
            <div class="text-danger text-center" ng-show="updatePasswordMsg">{{updatePasswordMsg}}</div>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
    </div>
</div>