<div class="modal-header">
    <h3 class="modal-title">{{showEditStatus(edit)+'用户'}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'username' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.username" name='username' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="username"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'currency' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.currency" name='currency' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="currency"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'gender' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    value='{{showOptionsValue(modalItem.gender, genderOptions)}}' name='gender' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="gender"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'email' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.email" name='email' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="email"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'locale' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.locale" name='locale' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="locale"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'country' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.country.iso" name='country' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="country"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'domain' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.domain" name='domain' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="domain"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'financial' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.financial.name" name='financial' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="financial"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'otp' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    value='{{modalItem.otp?"Yes":"No"}}' name='otp' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="otp"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'rank' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model='modalItem.rank.code' name='rank' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="rank"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'timezone' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model='modalItem.timezone' name='timezone' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="timezone"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'otp' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    value='{{modalItem.verifications.identity?"Yes":"No"}}' name='identity' ng-disabled='true'
                                    class="form-control"
                                    type="text"
                                    placeholder="identity"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'name' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.name" name='name' ng-disabled='!hasPower'
                                    class="form-control"
                                    type="text"
                                    placeholder="3-11 char"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">
                                {{'phone' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input
                                    ng-model="modalItem.phone" name='phone' ng-disabled='!hasPower'
                                    class="form-control"
                                    type="text"
                                    placeholder="+8613900000000"
                                >
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'nameVerified' |
                                translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.verifications.name"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false"
                                >
                                    <ui-select-match placeholder="choose name verified">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in booleanOptons">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'phoneVerified' |
                                translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.verifications.phone"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false"
                                >
                                    <ui-select-match placeholder="choose phone verified">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in booleanOptons">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'locked' |
                                translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.locked"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false"
                                >
                                    <ui-select-match placeholder="choose locked">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in booleanOptons">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">
                            备注信息
                        </legend>
                        <form class="form-inline pull-right add-button-class" role="form">
                            <div style="position: relative" class="form-group">
                                <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                                <input
                                    class="form-control" type="text" ng-model="userCommentModalSearch"
                                    placeholder="{{searchPlaceholder(['comment'])}}"
                                >
                            </div>
                        </form>
                        <div
                            web-data-table
                            items="userCommentModal"
                            ao-data="userCommentModalAoData"
                            search="userCommentModalSearch"
                            reload="userCommentModalReload"
                            show-items="showUserCommentModal"
                        >
                            <table width="100%" class="table table-bordered table-hover bg-white">
                                <thead>
                                <tr class="bg-gray-light text-bold">
                                    <td style="width: 40%">
                                        {{'comment' | translate}}
                                    </td>
                                    <td style="width: 40%">
                                        {{'createAt' | translate}}
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in showuserCommentModal">
                                    <td>
                                        <span>
                                            {{item.comment}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>{{formatTime(item.timestamps && item.timestamps.createdAt||'')}}</span>
                                    </td>
                                </tr>
                                <tr ng-show="showuserCommentModal.length==0">
                                    <td colspan="20"
                                        class="">{{'table.no_date' | translate}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button
        class="btn btn-primary" type="button" ng-show="hasPower"
        ng-click="confirmModal()"
    >{{'table.button.save' | translate}}
    </button>
    <button
        class="btn btn-default" type="button" ng-click="cancelModal()"
    >{{'table.button.cancel' | translate}}
    </button>
</div>

