<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-xs-12">
                        <span class="form-group add-button-class">
                            <button
                                ng-show='validPower("BLACKLISTS", ["POST"])'
                                class="btn btn-primary"
                                ng-click="showCountriesManageModal({},2)"
                                type="button"
                                translate="table.button.add"
                            >
                                新增
                            </button>
                        </span>
                    </div>
                    <!--<form class="form-inline pull-right add-button-class" role="form">-->
                    <!--<div style="position: relative" class="form-group">-->
                    <!--<span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>-->
                    <!--<input class="form-control" type="text" ng-model="blackListsSearch"-->
                    <!--placeholder="{{searchPlaceholder(['table.blackLists.th1', 'table.blackLists.th2', 'table.blackLists.th3'])}}">-->
                    <!--</div>-->
                    <!--</form>-->
                    <div class="clearfix"></div>
                    <form class="form-horizontal" role="form">
                        <div class="col-lg-3 col-md-6">
                            <input
                                    class="form-control"
                                    type="text"
                                    ng-model="blackListsAoData.account_number"
                                    placeholder="{{'table.blackLists.th1' | translate}}">
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <input
                                    class="form-control"
                                    type="text"
                                    ng-model="blackListsAoData.comment"
                                    placeholder="{{'table.blackLists.th2' | translate}}">
                        </div>
                        <div class="form-group col-lg-3 col-md-6">
                            <ui-select
                                    ng-model="blackListsAoData.type"
                                    theme="bootstrap"
                                    search-enabled="false">
                                <ui-select-match placeholder="{{'table.blackLists.th3' | translate}}">
                                    <span ng-bind="$select.selected.label"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.value as item in typeOptionsSearch">
                                    <span ng-bind="item.label"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <!--<div class="col-lg-3 col-md-6">-->
                            <!--<ui-select-->
                                    <!--ng-model="blackListsAoData.is_deleted"-->
                                    <!--theme="bootstrap"-->
                                    <!--search-enabled="false">-->
                                <!--<ui-select-match placeholder="{{'table.blackLists.th4' | translate}}">-->
                                    <!--<span ng-bind="$select.selected.label"></span>-->
                                <!--</ui-select-match>-->
                                <!--<ui-select-choices repeat="item.value as item in isDeletedOptions">-->
                                    <!--<span ng-bind="item.label"></span>-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="clearfix"></div>
                <div
                        server-data-table
                        items="blackLists"
                        ao-data="blackListsAoData"
                        reload="blackListsReload"
                        service-name="adminService"
                        service-name-attr="getReq"
                        url="blackListsUrl"
                        handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 20%" ao-data="blackListsAoData" server-data-table-sort="account_number">
                                {{'table.blackLists.th1' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="blackListsAoData" server-data-table-sort="comment">
                                {{'table.blackLists.th2' | translate}}
                            </td>
                            <td style="width: 15%" ao-data="blackListsAoData" server-data-table-sort="type">
                                {{'table.blackLists.th3' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="blackListsAoData" server-data-table-sort="is_deleted">
                                {{'table.blackLists.th4' | translate}}
                            </td>
                            <td style="width: 17%" ng-show='validPower("BLACKLISTS", ["PATCH", "PUT", "DELETE"])'>{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in blackLists">
                            <td>
                                <span>{{ item.accountNumber || '' }}</span>
                            </td>
                            <td>
                                <span>{{ item.comment || '' }}</span>
                            </td>
                            <td>
                                <span>{{showOptionsValue(item.type,typeOptions)}}</span>
                            </td>
                            <td>
                                <span>{{item.isDeleted ? 'yes' : 'no'}}</span>
                            </td>
                            <td style="white-space: nowrap;" ng-show='validPower("BLACKLISTS", ["PATCH", "PUT", "DELETE"])'>
                                <button class="btn btn-sm btn-info" ng-show="validPower('BLACKLISTS', ['PATCH'])"
                                        ng-click="showCountriesManageModal(item,3)"
                                        title="{{'table.button.edit' | translate}}">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button class="btn btn-sm btn-danger"
                                            ng-show="!item.isDeleted&&validPower('BLACKLISTS', ['DELETE'])"
                                            ng-click="deleteBlackLists(item)"
                                            title="{{'table.button.delete' | translate}}">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                    <button class="btn btn-sm btn-green" ng-show="item.isDeleted&&validPower('BLACKLISTS', ['PUT'])"
                                            ng-click="recoverBlackLists(item)"
                                            title="{{'table.button.recover' | translate}}">
                                        <em class="fa fa-rotate-left"></em>
                                    </button>
                            </td>
                        </tr>
                        <tr ng-show="blackLists.length==0">
                            <td colspan='{{validPower("BLACKLISTS", ["PATCH", "PUT", "DELETE"])?5:4}}'
                                class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>