<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class no-block">
                    <button
                        ng-show='validPower("GAMESPRODUCTS", ["POST"])'
                        class="btn btn-primary"
                        ng-click="showGameProductNameModal({},2)"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="gamesProductsSearch" placeholder="{{searchPlaceholder(['table.gamesProducts.th1', 'table.gamesProducts.th2', 'table.gamesProducts.th3'])}}">
                    </div>
                </form>
                <div
                        web-data-table
                        items="gamesProducts"
                        ao-data="gamesProductsAoData"
                        search="gamesProductsSearch"
                        reload="gamesProductsReload"
                        show-items="showGamesProducts"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 20%" ao-data="gamesProductsAoData" web-data-table-sort="code">
                                {{'table.gamesProducts.th1' | translate}}
                            </td>
                            <td style="width: 20%">
                                {{'table.gamesProducts.th2' | translate}}
                            </td>
                            <td style="width: 20%" ao-data="gamesProductsAoData" web-data-table-sort="disabled">
                                {{'table.gamesProducts.th3' | translate}}
                            </td>
                            <td style="width: 10%"
                                ng-show='validPower("GAMESPRODUCTS", ["PATCH","GET"])'>{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in showGamesProducts">
                            <td>
                                <span>{{ item.code || '' }}</span>
                            </td>
                            <td>
                                <span>
                                    {{showArrayName(item.name)}}
                                </span>
                            </td>
                            <td>
                                <span>{{item.disabled ? 'Yes' : 'No'}}</span>
                            </td>
                            <td style="white-space: nowrap;" ng-show='validPower("GAMESPRODUCTS", ["PATCH","GET"])'>
                                <button class="btn btn-sm btn-info" ng-show='validPower("GAMESPRODUCTS", ["PATCH"])' ng-click="showGameProductNameModal(item,3)"
                                        title="{{'table.button.edit' | translate}}">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                <button class="btn btn-sm btn-green" ng-click="showGameProductNameModal(item,1)"
                                        title="{{'table.button.detail' | translate}}">
                                                <em class="fa fa-folder-open-o"></em>
                                    </button>
                            </td>
                        </tr>
                        <tr ng-show="showGamesProducts.length==0">
                            <td colspan='{{validPower("GAMESPRODUCTS", ["PATCH","GET"])?4:3}}' class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>