<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <!--<button-->
                        <!--class="btn btn-primary"-->
                        <!--ng-click="addAppliesUse()"-->
                        <!--type="button"-->
                        <!--translate="table.button.add"-->
                    <!--&gt;-->
                        <!--新增-->
                    <!--</button>-->
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="appliesUseSearch" placeholder="{{searchPlaceholder(['table.appliesUse.th1', 'table.appliesUse.th2', 'table.appliesUse.th3'])}}">
                    </div>
                </form>
                <div
                        server-data-table
                        items="appliesUse"
                        ao-data="appliesUseAoData"
                        reload="appliesUseReload"
                        service-name="adminService"
                        service-name-attr="getReq"
                        url="appliesUseUrl"
                        handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 10%" >
                                {{'table.appliesUse.th1' | translate}}
                            </td>
                            <td style="width: 10%" >
                                {{'table.appliesUse.th2' | translate}}
                            </td>
                            <td style="width: 10%" >
                                {{'table.appliesUse.th3' | translate}}
                            </td>
                            <td style="width: 10%" >
                                {{'table.appliesUse.th4' | translate}}
                            </td>
                            <td style="width: 10%" >
                                {{'table.appliesUse.th5' | translate}}
                            </td>
                            <td style="width: 10%" >
                                {{'table.appliesUse.th6' | translate}}
                            </td>
                            <td style="width: 10%" >
                                {{'table.appliesUse.th7' | translate}}
                            </td>
                            <td style="width: 10%" >
                                {{'table.appliesUse.th8' | translate}}
                            </td>
                            <td style="width: 10%">{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in appliesUse">
                            <td>
                                <span>{{item.bets}}</span>
                            </td>
                            <td>
                                <span>{{item.bonus}}</span>
                            </td>
                            <td>
                                <span>{{item.brand}}</span>
                            </td>
                            <td>
                                <span>{{item.coupon}}</span>
                            </td>
                            <td>
                                <span>{{item.principal}}</span>
                            </td>
                            <td>
                                <span>{{item.product}}</span>
                            </td>
                            <td>
                                <span>{{item.wallet}}</span>
                            </td>
                            <td>
                                <span>{{item.status}}</span>
                            </td>
                            <td style="white-space: nowrap;">
                                <div class="buttons">
                                    <button class="btn btn-sm btn-primary" ng-click="appliesUseAudit(item)"
                                            title="{{'table.button.save' | translate}}">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button class="btn btn-sm btn-green" ng-click="appliesUseRevoke(item)"
                                            title="{{'table.button.recover' | translate}}">
                                        <em class="fa fa-rotate-left"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="appliesUse.length==0">
                            <td colspan="9" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>