<div class="modal-header">
    <h3 class="modal-title">{{'table.userLevel.th6' | translate}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">

            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-show='validPower("USERLEVEL", ["POST", "PATCH"])' ng-click="confirmModal()">{{'table.button.save' |
                                                                             translate}}</button>
    <button class="btn btn-default" type="button" ng-click="cancelModal()">{{'table.button.cancel' | translate}}</button>
</div>

