<div class="modal-header">
    <h3 class="modal-title">{{(isAdd?('table.button.add' | translate):('table.button.edit' | translate)) + ('table.menu.modal_title' | translate)}}</h3>
</div>

<div class="modal-body">
    <form class="form-horizontal ng-pristine ng-valid">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'table.menu.th2' | translate}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" required="" ng-model="oneLevelMenusModal.menuName">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'table.menu.th1' | translate}}</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" required="" ng-model="oneLevelMenusModal.menuSortNo">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'table.menu.th4' | translate}}</label>
                <div class="col-sm-8">
                    <select
                            class="form-control"
                            ng-model="oneLevelMenusModal.menuStatus"
                            ng-options="option.value as option.label for option in superAdminSelect012.options"
                    >
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-show='validPower("MANAGEMENU", ["LEFTPOST", "LEFTPATCH"])' ng-disabled="!oneLevelMenusModal.menuName || !oneLevelMenusModal.menuSortNo || !oneLevelMenusModal.menuStatus" ng-click="confirm()">{{'table.button.save' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">{{'table.button.cancel' | translate}}</button>
</div>