<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <button
                        class="btn btn-primary"
                        ng-click="addRebatesList()"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="rebatesListSearch" placeholder="{{searchPlaceholder(['table.rebatesList.th1', 'table.rebatesList.th2', 'table.rebatesList.th3'])}}">
                    </div>
                </form>
                <div
                        server-data-table
                        items="rebatesList"
                        ao-data="rebatesListAoData"
                        reload="rebatesListReload"
                        service-name="adminService"
                        service-name-attr="getReq"
                        url="rebatesListUrl"
                        handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 13%" ao-data="rebatesListAoData" server-data-table-sort="product">
                                {{'table.rebatesList.th1' | translate}}
                            </td>
                        </tr>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 13%" ao-data="rebatesListAoData" server-data-table-sort="from">
                                {{'table.rebatesList.th2' | translate}}
                            </td>
                        </tr>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 13%" ao-data="rebatesListAoData" server-data-table-sort="to">
                                {{'table.rebatesList.th3' | translate}}
                            </td>
                        </tr>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 13%" ao-data="rebatesListAoData" server-data-table-sort="bonus">
                                {{'table.rebatesList.th4' | translate}}
                            </td>
                        </tr>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 13%" ao-data="rebatesListAoData" server-data-table-sort="username">
                                {{'table.rebatesList.th5' | translate}}
                            </td>
                        </tr>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 13%" ao-data="rebatesListAoData" server-data-table-sort="userId">
                                {{'table.rebatesList.th6' | translate}}
                            </td>
                        </tr>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 13%" ao-data="rebatesListAoData" server-data-table-sort="affiliateId">
                                {{'table.rebatesList.th7' | translate}}
                            </td>
                        </tr>
                        <td style="width: 17%">{{'table.button.operation' | translate}}</td>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in rebatesList">
                            <td>
                                <span>{{item.product || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.period.from.substr(0, 19) || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.period.to.substr(0, 19) || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.bonus || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.user.username || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.user.userId || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.user.affiliateId || ''}}</span>
                            </td>
                            <td style="white-space: nowrap;">
                                <div class="buttons">
                                    <button class="btn btn-sm btn-green" ng-click="showRebatesDetail(item)"
                                            title="{{'table.button.detail' | translate}}">
                                        <em class="fa fa-folder-open-o"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="rebatesList.length==0">
                            <td colspan="8" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>