<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                        <button
                                class="btn btn-primary"
                                ng-click="addRoles()"
                                type="button"
                        >
                            新增
                        </button>
                    </span>
                <div
                        web-data-table
                        items="roles"
                        ao-data="rolesAoData"
                        reload="rolesAoData"
                        show-items="showRoles"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <tbody>
                        <tr style="font-weight: bold;">
                            <th style="width: 40%" ao-data="rolesAoData" web-data-table-sort="roleName">角色名称</th>
                            <th style="width: 40%" ao-data="rolesAoData" web-data-table-sort="roleStatus">状态</th>
                            <td style="width: 17%" >操作</td>
                        </tr>
                        <tr ng-repeat="item in showRoles">
                            <td>
                                <span editable-text="item.roleName" e-name="roleName" e-formclass="xeditable-md" onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.roleName || '' }}</span>
                            </td>
                            <td>
                                    <span editable-select="item.roleStatus" e-name="roleStatus"  e-form="rowform" onbeforesave="checkRequiredData($data)" e-ng-options="option.value as option.label for option in superAdminSelect012.options">
                                        <span ng-bind-html="filter012OptionsValue(item.roleStatus)"></span>
                                    </span>
                            </td>
                            <td style="white-space: nowrap;">
                                <form class="form-buttons form-inline" editable-form name="rowform" onbeforesave="saveRole(item, $data)" ng-show="rowform.$visible" shown="item.id == null">
                                    <button class="btn btn-sm btn-info" type="submit" ng-disabled="rowform.$waiting" title="Save">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel();cancelSave(item,$index)" title="Cancel">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()" title="Edit">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="deleteRole(item)" title="Delete">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="showRoles.length==0">
                            <td colspan="3" class="">查询结果数据为空</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>