<div class="modal-header">
    <h3 class="modal-title">{{showEditStatus(edit) +'钱包'}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form class="form-horizontal" name='myForm'>
                        <legend class="text-center">概况</legend>
                         <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">编码</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.code" name='code' ng-pattern='/^[A-Z]{1,5}$/' ng-disabled='!hasPower||edit==3' required class="form-control" type="text"
                                       placeholder="A-Z max 5 char">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.code.$dirty&&myForm.code.$invalid">
                                {{'A-Z max 5 char'}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">url</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.apiEndpoint" name='apiEndpoint' ng-pattern='/^http[.]*/' ng-disabled='!hasPower' required class="form-control" type="text"
                                       placeholder="url">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.apiEndpoint.$dirty&&myForm.apiEndpoint.$invalid">
                                {{'should be url'}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">商业名称</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.merchantName" name='merchantName' ng-maxlength='15' ng-disabled='!hasPower' required class="form-control" type="text"
                                       placeholder="max 15 char">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.merchantName.$dirty&&myForm.merchantName.$invalid">
                                {{'max 15 char'}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">商业KEY</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.merchantKey" name='merchantKey' ng-maxlength='32' ng-disabled='!hasPower' required class="form-control" type="text"
                                       placeholder="max 32 char">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.merchantKey.$dirty&&myForm.merchantKey.$invalid">
                                {{'max 32 char'}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">时间间隔</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.recordsDuration" name='recordsDuration' ng-pattern='/^[0-9]*$/' ng-disabled='!hasPower' required class="form-control" type="number"
                                       placeholder="number">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.recordsDuration.$dirty&&myForm.recordsDuration.$invalid">
                                {{'should be number'}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">时间格式</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.recordsParamsTimeFormat" name='recordsParamsTimeFormat' ng-maxlength='15' ng-disabled='!hasPower' required class="form-control" type="text"
                                       placeholder="max 15 char">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.recordsParamsTimeFormat.$dirty&&myForm.recordsParamsTimeFormat.$invalid">
                                {{'max 15 char'}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">状态</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.status"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose status">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in statusOptons">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                         <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">用户名前缀</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.usernamePrefix" name='usernamePrefix' ng-maxlength='5' ng-disabled='!hasPower' required class="form-control" type="text"
                                       placeholder="max 5 char">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.usernamePrefix.$dirty&&myForm.usernamePrefix.$invalid">
                                {{'max 5 char'}}
                            </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">同步密码</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.syncPassword"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose is sync password">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in booleanOptons">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">禁用</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.disabled"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose is disabled">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in booleanOptons">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">名称</legend>
                        <form></form>
                        <div class=''>
                            <span class='form-group add-button-class'>
                                <button
                                    ng-show='hasPower'
                                    class='btn btn-primary'
                                    ng-click='addNameModal()'
                                    type='button'
                                    translate='table.button.add'
                                >
                                    新增
                                </button>
                            </span>
                            <form class='form-inline pull-right add-button-class' role='form'>
                                <div style='position: relative' class='form-group'>
                                    <span style='position: absolute;left: 4px;top: 6px'><em class='fa fa-search'></em></span>
                                    <input
                                        class='form-control' type='text' ng-model='nameModalSearch'
                                        placeholder="{{'table.paymentMethods.name.th2' | translate}}"
                                    >
                                </div>
                            </form>
                            <div
                                web-data-table
                                items="modalItem.name"
                                ao-data="nameModalAoData"
                                search="nameModalSearch"
                                reload="nameModalReload"
                                show-items="showNameModal"
                            >
                                <table width='100%' class='table table-bordered table-hover bg-white'>
                                    <thead>
                                    <tr class='bg-gray-light text-bold'>
                                        <td style='width: 40%' ao-data='nameModalAoData' web-data-table-sort='locale'>
                                            {{'table.paymentMethods.name.th1' | translate}}
                                        </td>
                                        <td style='width: 40%' ao-data='nameModalAoData' web-data-table-sort='value'>
                                            {{'table.paymentMethods.name.th2' | translate}}
                                        </td>
                                        <td style='width: 17%' ng-show='hasPower'>{{'table.button.operation' | translate}}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat='item in showNameModal'>
                                        <td>
                                            <span
                                                editable-select='item.locale' e-name='locale' e-form='rowform'
                                                onbeforesave='checkRequiredData($data)'
                                                e-ng-options='option.value as option.label for option in localesOptions'
                                            >
                                                {{showOptionsValue(item.locale,localesOptions)}}
                                            </span>
                                        </td>
                                        <td>
                                            <span
                                                editable-text='item.value' e-name='value' e-formclass='xeditable-sm'
                                                onbeforesave='checkRequiredData($data)' e-form='rowform' e-required=''
                                            >{{ item.value || '' }}</span>
                                        </td>
                                        <td style='white-space: nowrap;' ng-show='hasPower'>
                                            <form
                                                class='form-buttons form-inline' editable-form name='rowform'
                                                onaftersave='saveNameModal(item, $data)' ng-show='rowform.$visible'
                                                shown='validIsNew(item.id)'
                                            >
                                                <button
                                                    class='btn btn-sm btn-info' type='submit' ng-disabled='rowform.$waiting'
                                                    title="{{'table.button.save' | translate}}"
                                                >
                                                    <em class='fa fa-save'></em>
                                                </button>
                                                <button
                                                    class='btn btn-sm btn-default' type='button' ng-disabled='rowform.$waiting'
                                                    ng-click='rowform.$cancel();cancelSaveNameModal(item,$index)'
                                                    title="{{'table.button.cancel' | translate}}"
                                                >
                                                    <em class='fa fa-times'></em>
                                                </button>
                                            </form>
                                            <div class='buttons' ng-show='!rowform.$visible'>
                                                <button
                                                    class='btn btn-sm btn-info' ng-click='rowform.$show()'
                                                    title="{{'table.button.edit' | translate}}"
                                                >
                                                    <em class='fa fa-pencil'></em>
                                                </button>
                                                <button
                                                    class='btn btn-sm btn-danger'
                                                    ng-click='deleteNameModal(item, $index)'
                                                    title="{{'table.button.delete' | translate}}"
                                                >
                                                    <em class='fa fa-trash'></em>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-show='showNameModal.length==0'>
                                        <td colspan='{{hasPower?4:3}}' class=''>{{'table.no_date' | translate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">品牌</legend>
                        <form class="form-horizontal">
                            <div class="col-lg-6 col-xs-12" ng-repeat="brand in brandOptions">
                                <div class="checkbox c-checkbox needsclick">
                                    <label class="needsclick">
                                        <input class="needsclick" ng-disabled='!hasPower' ng-click="selectBrands(brand.value, $event)" ng-checked="modalItem.brands.indexOf(brand.value) !== -1" type="checkbox" ng-value="brand.value">
                                        <span class="fa fa-check"></span>{{brand.label}}</label>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-show='hasPower' ng-disabled='myForm.$invalid' ng-click="confirmModal()">{{'table.button.save' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="cancelModal()">{{'table.button.cancel' | translate}}</button>
</div>
