<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <button
                        class="btn btn-primary"
                        ng-click="addCouponsManage()"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="couponsManageSearch" placeholder="{{searchPlaceholder(['table.couponsManage.th1', 'table.couponsManage.th2', 'table.couponsManage.th3'])}}">
                    </div>
                </form>
                <div
                        web-data-table
                        items="couponsManage"
                        ao-data="couponsManageAoData"
                        search="couponsManageSearch"
                        reload="couponsManageReload"
                        show-items="showCouponsManage"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 8%">
                                {{'table.couponsManage.th1' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th2' | translate}}
                            </td>
                            <td style="width: 8%" ao-data="couponsManageAoData" server-data-table-sort="currency">
                                {{'table.couponsManage.th3' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th4' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th5' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th6' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th7' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th8' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th9' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th10' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th11' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.couponsManage.th12' | translate}}
                            </td>
                            <td style="width: 10%">{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in showCouponsManage">
                            <td>
                                <span>{{ item.code || '' }}</span>
                            </td>
                            <td>
                                <span>{{ item.name || '' }}</span>
                            </td>
                            <td>
                                <span>{{item.currency}}</span>
                            </td>
                            <td>
                                <span>{{item.brand}}</span>
                            </td>
                            <td>
                                <span>{{item.wallet}}</span>
                            </td>
                            <td>
                                <span>{{item.product}}</span>
                            </td>
                            <td>
                                <span>{{item.multiple_use ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>
                                <span>{{item.need_certification ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>
                                <span>{{item.type}}</span>
                            </td>
                            <td>
                                <span>{{item.need_audit ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>
                                <span>{{item.code_only ? 'Yes' : 'No'}}</span>
                            </td>
                            <td>
                                <span>{{item.enabled ? 'Yes' : 'No'}}</span>
                            </td>
                            <td style="white-space: nowrap;">
                                <form class="form-buttons form-inline" editable-form name="rowform"
                                      onaftersave="saveCouponsManage(item, $data)" ng-show="rowform.$visible"
                                      shown="validIsNew(item._id)">
                                    <button class="btn btn-sm btn-info" type="submit" ng-disabled="rowform.$waiting"
                                            title="{{'table.button.save' | translate}}">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="button" ng-disabled="rowform.$waiting"
                                            ng-click="rowform.$cancel();cancelSave(item,$index)"
                                            title="{{'table.button.cancel' | translate}}">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()"
                                            title="{{'table.button.edit' | translate}}">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="deleteCouponsManage(item)"
                                            title="{{'table.button.delete' | translate}}">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="showCouponsManage.length==0">
                            <td colspan="4" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>