<div class="modal-header">
    <h3 class="modal-title">{{showEditStatus(edit)+'国家'}}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form class="form-horizontal" name="myForm">
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'table.countriesManage.th1' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.iso" name='iso' required ng-disabled='!hasPower||edit==3'
                                       class="form-control"
                                       type="text"
                                       ng-pattern='/[A-Z]{2}/'
                                       placeholder="XX">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.iso.$dirty&&myForm.iso.$invalid">
                                    {{'eg. XX'}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'table.countriesManage.th2' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.iso3" name='iso3' required ng-disabled='!hasPower'
                                       class="form-control"
                                       type="text"
                                       ng-pattern='/[A-Z]{3}/'
                                       placeholder="XXX">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.iso3.$dirty&&myForm.iso3.$invalid">
                                    {{'eg. XXX'}}
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'table.countriesManage.th3' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.name" name='name' required ng-disabled='!hasPower'
                                       class="form-control"
                                       type="text"
                                       ng-pattern='/[A-Z ]+/'
                                       placeholder="XXXXXX">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.name.$dirty&&myForm.name.$invalid">
                                    {{'eg. XXXXXX'}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'table.countriesManage.th4' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.niceName" name='niceName' required ng-disabled='!hasPower'
                                       class="form-control"
                                       type="text"
                                       placeholder="required">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.niceName.$dirty&&myForm.niceName.$invalid">
                                    {{checkRequiredData()}}
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'table.countriesManage.th5' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.numcode" name='numcode' required ng-disabled='!hasPower'
                                       class="form-control"
                                       type="text"
                                       ng-pattern='/^[0-9]{1,3}$/'
                                       placeholder="999">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.numcode.$dirty&&myForm.numcode.$invalid">
                                    {{'eg. 999'}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'table.countriesManage.th6' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="modalItem.phoneCode" name='phoneCode' required ng-disabled='!hasPower'
                                       class="form-control"
                                       type="text"
                                       ng-pattern='/^[0-9]{1,4}$/'
                                       placeholder="9999">
                                <span class='text-danger valid-error'
                                      ng-show="myForm.phoneCode.$dirty&&myForm.phoneCode.$invalid">
                                    {{'eg. 9999'}}
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">{{'table.countriesManage.th7' | translate}}</label>
                            <div class="col-lg-8 col-md-6">
                                <ui-select
                                    ng-model="modalItem.currencyCode"
                                    theme="bootstrap"
                                    ng-disabled='!hasPower'
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose currency">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in currencyOptions">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled='!myForm.$dirty||myForm.$invalid' ng-show="hasPower"
            ng-click="confirmModal()">{{'table.button.save' | translate}}</button>
    <button
        class="btn btn-default" type="button" ng-click="cancelModal()"
    >{{'table.button.cancel' | translate}}</button>
</div>

