<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <button
                        class="btn btn-primary"
                        ng-click="addCountriesManage()"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="countriesManageSearch" placeholder="{{searchPlaceholder(['table.countriesManage.th1', 'table.countriesManage.th2', 'table.countriesManage.th3', 'table.countriesManage.th4', 'table.countriesManage.th5', 'table.countriesManage.th6', 'table.countriesManage.th7'])}}">
                    </div>
                </form>
                <div
                        web-data-table
                        items="countriesManage"
                        ao-data="countriesManageAoData"
                        search="countriesManageSearch"
                        reload="countriesManageReload"
                        show-items="showCountriesManage"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 8%" ao-data="countriesManageAoData" web-data-table-sort="iso">
                                {{'table.countriesManage.th1' | translate}}
                            </td>
                            <td style="width: 8%" ao-data="countriesManageAoData" web-data-table-sort="iso3">
                                {{'table.countriesManage.th2' | translate}}
                            </td>
                            <td style="width: 20%" ao-data="countriesManageAoData" web-data-table-sort="name">
                                {{'table.countriesManage.th3' | translate}}
                            </td>
                            <td style="width: 20%" ao-data="countriesManageAoData" web-data-table-sort="niceName">
                                {{'table.countriesManage.th4' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="countriesManageAoData" web-data-table-sort="numCode">
                                {{'table.countriesManage.th5' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="countriesManageAoData" web-data-table-sort="phoneCode">
                                {{'table.countriesManage.th6' | translate}}
                            </td>
                            <td style="width: 8%" ao-data="countriesManageAoData" web-data-table-sort="currency">
                                {{'table.countriesManage.th7' | translate}}
                            </td>
                            <td style="width: 10%">{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in showCountriesManage">
                            <td>
                                <span editable-text="item.iso" e-name="iso" e-formclass="xeditable-xs"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.iso || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.iso3" e-name="iso3" e-formclass="xeditable-xs"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.iso3 || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.name" e-name="name" e-formclass="xeditable-sm"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.name || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.niceName" e-name="niceName" e-formclass="xeditable-sm"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.niceName || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.numCode" e-name="numCode" e-formclass="xeditable-xs"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.numCode || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.phoneCode" e-name="phoneCode" e-formclass="xeditable-xs"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.phoneCode || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.currency" e-name="currency" e-formclass="xeditable-xs"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.currency || '' }}</span>
                            </td>
                            <td style="white-space: nowrap;">
                                <form class="form-buttons form-inline" editable-form name="rowform"
                                      onaftersave="saveCountriesManage(item, $data)" ng-show="rowform.$visible"
                                      shown="item.id == null">
                                    <button class="btn btn-sm btn-info" type="submit" ng-disabled="rowform.$waiting"
                                            title="{{'table.button.save' | translate}}">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="button" ng-disabled="rowform.$waiting"
                                            ng-click="rowform.$cancel();cancelSave(item,$index)"
                                            title="{{'table.button.cancel' | translate}}">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()"
                                            title="{{'table.button.edit' | translate}}">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="deleteCountriesManage(item)"
                                            title="{{'table.button.delete' | translate}}">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="showCountriesManage.length==0">
                            <td colspan="8" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>