<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <div
                    server-data-table
                    items="affiliatesManage"
                    ao-data="affiliatesManageAoData"
                    reload="affiliatesManageReload"
                    service-name="adminService"
                    service-name-attr="getReq"
                    url="affiliatesManageUrl"
                    handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th1' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th2' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th3' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th4' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th5' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th6' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th7' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th8' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th9' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th10' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th11' | translate}}
                            </td>
                            <td style="width: 8%">
                                {{'table.affiliatesManage.th12' | translate}}
                            </td>
                            <td style="width: 8%">{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in affiliatesManage">
                            <td>
                                <span>{{item.username || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.name || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.gender || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.locale || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.email || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.currency || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.domains.user || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.otp || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.plan.default || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.verifications.name || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.isLocked || ''}}</span>
                            </td>
                            <td>
                                <span>{{item.isApproved || ''}}</span>
                            </td>
                            <td style="white-space: nowrap;">
                                 <button
                                     class="btn btn-sm btn-info" ng-click="showWalletsManageModal(item,1)"
                                     title="{{'table.button.detail' | translate}}">
                                    <em class="fa fa-eye"></em>
                                </button>
                            </td>
                        </tr>
                        <tr ng-show="affiliatesManage.length==0">
                            <td colspan="20" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>