<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span style='margin-left: 15px' class="form-group add-button-class">
                    <span class='btn-search'>
                        <button
                            class="btn btn-green"
                            ng-click="trigerSearch()"
                            type="button"
                            translate="table.button.search"
                        >
                        </button>
                        <button
                            class="btn btn-warning"
                            ng-click="resetSearch()"
                            type="button"
                            translate="table.button.reset"
                        >
                        </button>
                    </span>
                </span>
                <div class="clearfix"></div>
                <form class="form-horizontal" role="form">
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input-select
                            inputkey='username'
                            outputkey='userId'
                            init-placeholder='{{urlUsername}}'
                            input-placeholder='username'
                            searchkey='username'
                            min-length='3'
                            output-value='ordersManageAoData.user_id'
                            url='{{URL.USERSMANAGE.GET}}'
                        >
                        </input-select>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input-select
                            inputkey='username'
                            outputkey='affiliateId'
                            input-placeholder='affiliate'
                            searchkey='username'
                            min-length='3'
                            output-value='ordersManageAoData.affiliate_id'
                            url='{{URL.USERSMANAGE.GET}}'
                        >
                        </input-select>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="ordersManageAoData.min_amount"
                            placeholder="{{'min ' + ('table.ordersManage.th1' | translate)}}"
                        >
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <input
                            class="form-control"
                            type="text"
                            ng-model="ordersManageAoData.max_amount"
                            placeholder="{{'max ' + ('table.ordersManage.th1' | translate)}}"
                        >
                    </div>
                    <div class='col-lg-3 col-md-6 margin-bottom-10'>
                        <ui-select
                            ng-model="search.method"
                            theme="bootstrap"
                            multiple
                            close-on-select="false"
                            search-enabled="false"
                        >
                            <ui-select-match placeholder='choose method'>
                                <span>{{$item.label}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.value as item in methodOptions">
                                <span ng-bind="item.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class='col-lg-3 col-md-6 margin-bottom-10'>
                        <ui-select
                            ng-model="search.wallet"
                            theme="bootstrap"
                            multiple
                            close-on-select="false"
                            search-enabled="false"
                        >
                            <ui-select-match placeholder='choose wallet'>
                                <span>{{$item.label}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.value as item in walletOptions">
                                <span ng-bind="item.label"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <div
                            class="input-group date"
                            datetimepicker
                            options={{dateOptionsYYYMMDDHHmmss}}
                            ng-model="searchTimeStart"
                        >
                            <input type="text" class="form-control" placeholder="start" />
                            <span class="input-group-addon" style="background:none">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 margin-bottom-10">
                        <div
                            class="input-group date"
                            datetimepicker
                            options={{dateOptionsYYYMMDDHHmmss}}
                            ng-model="searchTimeEnd"
                        >
                            <input type="text" class="form-control" placeholder="end" />
                            <span class="input-group-addon" style="background:none">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </form>
                <div
                    server-data-table
                    items="ordersManage"
                    ao-data="tempOrdersManageAoData"
                    reload="ordersManageReload"
                    service-name="adminService"
                    service-name-attr="getReq"
                    url="ordersManageUrl"
                    handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 10%">
                                {{'table.ordersManage.th6' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="ordersManageAoData" server-data-table-sort="amount">
                                {{'table.ordersManage.th1' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="ordersManageAoData" server-data-table-sort="currency">
                                {{'table.ordersManage.th2' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="ordersManageAoData" server-data-table-sort="destination">
                                {{'table.ordersManage.th3' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="ordersManageAoData" server-data-table-sort="method_code">
                                {{'table.ordersManage.th4' | translate}}
                            </td>
                            <td style="width: 10%" ao-data="ordersManageAoData" server-data-table-sort="status">
                                {{'table.ordersManage.th5' | translate}}
                            </td>
                            <td style="width: 14%">
                                {{'createAt' | translate}}
                            </td>
                            <td style="width: 10%">{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ordersManage">
                            <td>
                                <span>{{item.user.username}}</span>
                            </td>
                            <td>
                                <span>{{item.amount}}</span>
                            </td>
                            <td>
                                <span>{{item.currency}}</span>
                            </td>
                            <td>
                                <span>{{item.destination}}</span>
                            </td>
                            <td>
                                <span>{{item.method_code}}</span>
                            </td>
                            <td>
                                <span>{{item.status}}</span>
                            </td>
                            <td>
                                <span>{{formatTime(item.timestamps && item.timestamps.createdAt||'')}}</span>
                            </td>
                            <td style="white-space: nowrap;" ng-show='validPower("ORDERSMANAGE", ["GETDETAIL","POST"])'>
                                <div class="buttons">
                                    <button
                                        class="btn btn-sm btn-info" ng-show='validPower("ORDERSMANAGE", ["POST"])&&item.status!=="finished"' ng-click="manualOrdersManage(item)"
                                        title="充值手动到账"
                                    >
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button
                                        class="btn btn-sm btn-green" ng-show='validPower("ORDERSMANAGE", ["GETDETAIL"])' ng-click="ordersDetailManage(item)"
                                        title="{{'table.button.detail' | translate}}"
                                    >
                                        <em class="fa fa-folder-open-o"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="ordersManage.length==0">
                            <td colspan='20' class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>