<div class="modal-header">
    <h4 class="modal-title">{{'order详情'}}</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <legend class="text-center">用户信息</legend>
                        <div class="form-group">
                            <label class="col-lg-3 text-right control-label">user id</label>
                            <div class="col-lg-7">
                                <input ng-model="orderDetail.user.userId" disabled='true' class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-lg-3 text-right text-right control-label">username</label>
                            <div class="col-lg-7">
                                <input ng-model="orderDetail.user.username" disabled='true' class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">user affiliateId</label>
                            <div class="col-lg-7">
                                <input ng-model="orderDetail.user.affiliateId" disabled='true' class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label text-right">user affiliate</label>
                            <div class="col-lg-7">
                                <input ng-model="orderDetail.user.affiliate" disabled='true' class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">概览</legend>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">目标</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="orderDetail.destination" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">amount</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="orderDetail.amount" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">状态</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="orderDetail.status" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">货币</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="orderDetail.currency" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">支付渠道</legend>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">编码</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="orderDetail.method.code" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">范围</label>
                            <div class="col-lg-8 col-md-6">
                                <input value="{{orderDetail.method.range.min + ' ~ ' + orderDetail.method.range.max}}" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">货币</label>
                            <div class="col-lg-8 col-md-6">
                                <input ng-model="orderDetail.method.currency" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                            <label class="col-lg-4 col-md-6 control-label">禁用</label>
                            <div class="col-lg-8 col-md-6">
                                <input value="{{orderDetail.method.disabled?'yes':'no'}}" class="form-control" type="text" disabled='true'>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                         <div class="form-group col-xs-12 margin-bottom-20">
                             <div class="form-group">
                                <label class="col-lg-2 text-right text-right control-label">名称</label>
                                <div class="col-lg-10">
                                    <input value="{{showDetailName(orderDetail.method.name)}}" disabled='true' class="form-control" type="text" >
                                </div>
                             </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">详细</legend>
                        <div class="form-group" ng-repeat="item in orderDetail.details">
                            <p class="col-lg-3 control-label text-right">支付渠道代码</p>
                            <div class="col-lg-9">
                                <p>{{item.method_code}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">psp</p>
                            <div class="col-lg-9">
                                <p>{{item.psp}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">sequence</p>
                            <div class="col-lg-9">
                                <p>{{item.sequence}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">类型</p>
                            <div class="col-lg-9">
                                <p>{{item.type}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload amount</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.amount}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload merchant_id</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.merchant_id}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload notify_url</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.notify_url}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload order_no</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.order_no}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload product_name</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.product_name}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload service_type</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.service_type}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload sign</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.sign}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload sign_type</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.sign_type}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <p class="col-lg-3 control-label text-right">payload version</p>
                            <div class="col-lg-9">
                                <p>{{item.payload.version}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">其他</legend>
                        <div class="form-group">
                            <p class="col-lg-3 control-label text-right">附件</p>
                            <div class="col-lg-9">
                                <p>{{orderDetail.extra?orderDetail.extra:''}}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeModal()">OK</button>
</div>
