<div class="modal-header">
    <h4 class="modal-title">{{'order详情'}}</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="">
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <legend class="text-center">
                            用户信息
                        </legend>
                        <div>
                            <div class="form-group">
                            <label class="col-lg-3 text-right control-label">user id</label>
                            <div class="col-lg-7">
                                <input ng-model="orderDetail.user.userId" disabled='true' class="form-control" type="text" >
                            </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="col-lg-3 text-right text-right control-label">username</label>
                                <div class="col-lg-7">
                                    <input ng-model="orderDetail.user.username" disabled='true' class="form-control" type="text" >
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label text-right">user affiliateId</label>
                                <div class="col-lg-7">
                                    <input ng-model="orderDetail.user.affiliateId" disabled='true' class="form-control" type="text" >
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label text-right">user affiliate</label>
                                <div class="col-lg-7">
                                    <input ng-model="orderDetail.user.affiliate" disabled='true' class="form-control" type="text" >
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">
                            概览
                        </legend>
                        <div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">目标</label>
                                <div class="col-lg-8 col-md-6">
                                    <input ng-model="orderDetail.destination" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">amount</label>
                                <div class="col-lg-8 col-md-6">
                                    <input ng-model="orderDetail.amount" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">状态</label>
                                <div class="col-lg-8 col-md-6">
                                    <input ng-model="orderDetail.status" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">货币</label>
                                <div class="col-lg-8 col-md-6">
                                    <input ng-model="orderDetail.currency" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">创建时间</label>
                                <div class="col-lg-8 col-md-6">
                                    <input value="{{formatTime(orderDetail.timestamps && orderDetail.timestamps.createdAt||'')}}" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">
                            支付渠道
                        </legend>
                        <div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">编码</label>
                                <div class="col-lg-8 col-md-6">
                                    <input ng-model="orderDetail.method.code" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">范围</label>
                                <div class="col-lg-8 col-md-6">
                                    <input value="{{orderDetail.method.range.min + ' ~ ' + orderDetail.method.range.max}}" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">货币</label>
                                <div class="col-lg-8 col-md-6">
                                    <input ng-model="orderDetail.method.currency" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">禁用</label>
                                <div class="col-lg-8 col-md-6">
                                    <input value="{{orderDetail.method.disabled?'yes':'no'}}" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-6 col-md-12 margin-bottom-20">
                                <label class="col-lg-4 col-md-6 control-label">名称</label>
                                <div class="col-lg-8 col-md-6">
                                    <input value="{{showArrayName(orderDetail.method.name)}}" class="form-control" type="text" disabled='true'>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!--<legend class="text-center">详细-->
                        <!--</legend>-->
                        <div>
                            <h4 ng-show='orderDetail.details.length==0' class='text-center'>{{'table.no_date' | translate}}</h4>
                            <div class="form-group" ng-repeat="item in orderDetail.details">
                                 <div class='text-center' ng-click='orderDetailShowDetail=!orderDetailShowDetail' ng-init='orderDetailShowDetail=false'>
                                     详细({{$index+1}})
                                     <span ng-class="{true :'icon-arrow-up', false :'icon-arrow-down'}[orderDetailShowDetail]"></span>
                                     <hr>
                                 </div>
                                 <div ng-show='orderDetailShowDetail'>
                                     <div class="form-group">
                                          <label class="col-lg-3 text-right control-label">支付渠道代码({{$index+1}})</label>
                                          <div class="col-lg-7">
                                              <input ng-model="item.method_code" disabled='true' class="form-control" type="text" >
                                          </div>
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="form-group">
                                     <label class="col-lg-3 text-right control-label">psp({{$index+1}})</label>
                                     <div class="col-lg-7">
                                        <input ng-model="item.psp" disabled='true' class="form-control" type="text" >
                                     </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">sequence({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.sequence" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">类型({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.type" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload amount({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.amount" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload merchant_id({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.merchant_id" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload notify_url({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.notify_url" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload order_no({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.order_no" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload product_name({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.product_name" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload service_type({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.service_type" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload sign({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.sign" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload sign_type({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.sign_type" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 <div class="form-group">
                                    <label class="col-lg-3 text-right control-label">payload version({{$index+1}})</label>
                                    <div class="col-lg-7">
                                        <input ng-model="item.payload.version" disabled='true' class="form-control" type="text" >
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                 </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <legend class="text-center">其他</legend>
                        <div class="form-group">
                            <label class="col-lg-3 text-right control-label">附件</label>
                            <div class="col-lg-7">
                                <input value="{{orderDetail.extra?orderDetail.extra.bank||'':''}}" disabled='true' class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeModal()">OK</button>
</div>
