<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <button
                        ng-show='validPower("PROMOTIONSMANAGE", ["POST"])'
                        class="btn btn-primary"
                        ng-click="addPromotionsManage()"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <div
                        server-data-table
                        items="promotionsManage"
                        ao-data="promotionsManageAoData"
                        reload="promotionsManageReload"
                        service-name="adminService"
                        service-name-attr="getReq"
                        url="promotionsManageUrl"
                        handle-data="false"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 16%">
                                {{'table.promotionsManage.th1' | translate}}
                            </td>
                            <td style="width: 16%">
                                {{'table.promotionsManage.th2' | translate}}
                            </td>
                            <!--<td style="width: 12%">-->
                                <!--{{'table.promotionsManage.th3' | translate}}-->
                            <!--</td>-->
                            <!--<td style="width: 12%">-->
                                <!--{{'table.promotionsManage.th4' | translate}}-->
                            <!--</td>-->
                            <!--<td style="width: 12%">-->
                                <!--{{'table.promotionsManage.th5' | translate}}-->
                            <!--</td>-->
                            <td style="width: 16%">
                                {{'table.promotionsManage.th6' | translate}}
                            </td>
                            <td style="width: 16%">
                                {{'table.promotionsManage.th7' | translate}}
                            </td>
                            <td style="width: 17%"
                                ng-show='validPower("PROMOTIONSMANAGE", ["PATCH"])'>{{'table.button.operation' |
                                                                                 translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in promotionsManage">
                            <td>
                                <span>{{item.banner}}</span>
                            </td>
                            <td>
                                <span>{{item.currency}}</span>
                            </td>
                            <!--<td>-->
                                <!--<span>{{item.categories}}</span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<span>{{item.title}}</span>-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<span>{{item.content}}</span>-->
                            <!--</td>-->
                            <td>
                                <span>{{item.period.from.substr(0, 19)}}</span>
                            </td>
                            <td>
                                <span>{{item.status}}</span>
                            </td>
                            <td style="white-space: nowrap;" ng-show='validPower("PROMOTIONSMANAGE", ["PATCH"])'>
                                <div class="buttons">
                                    <button class="btn btn-sm btn-info" ng-show='validPower("PROMOTIONSMANAGE", ["PATCH"])' ng-click="editPromotionsManage(item)"
                                            title="{{'table.button.edit' | translate}}">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="promotionsManage.length==0">
                            <td colspan='{{validPower("PROMOTIONSMANAGE", ["PATCH"])?5:4}}'
                                class="">{{'table.no_date' |
                                                                                                 translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>