<div class="row">
    <div class="panel panel-default">
        <div class="panel-wrapper">
            <div class="panel-body">
                <span class="form-group add-button-class">
                    <button
                        class="btn btn-primary"
                        ng-click="addPromotionsManage()"
                        type="button"
                        translate="table.button.add"
                    >
                        新增
                    </button>
                </span>
                <form class="form-inline pull-right add-button-class" role="form">
                    <div style="position: relative" class="form-group">
                        <span style="position: absolute;left: 4px;top: 6px"><em class="fa fa-search"></em></span>
                        <input class="form-control" type="text" ng-model="promotionsManageSearch" placeholder="{{searchPlaceholder(['table.promotionsManage.th1', 'table.promotionsManage.th2', 'table.promotionsManage.th3'])}}">
                    </div>
                </form>
                <div
                        server-data-table
                        items="promotionsManage"
                        ao-data="promotionsManageAoData"
                        reload="promotionsManageReload"
                        service-name="adminService"
                        service-name-attr="getReq"
                        url="promotionsManageUrl"
                        handle-data="false"
                        web-data-table
                        items="promotionsManage"
                        ao-data="promotionsManageAoData"
                        search="promotionsManageSearch"
                        reload="promotionsManageReload"
                        show-items="showPromotionsManage"
                >
                    <table width="100%" class="table table-bordered table-hover bg-white">
                        <thead>
                        <tr class="bg-gray-light text-bold">
                            <td style="width: 40%" ao-data="promotionsManageAoData" web-data-table-sort="roleName">
                                {{'table.promotionsManage.th1' | translate}}
                            </td>
                            <td style="width: 40%" ao-data="promotionsManageAoData" web-data-table-sort="roleName">
                                {{'table.promotionsManage.th1' | translate}}
                            </td>
                            <td style="width: 40%" ao-data="promotionsManageAoData" web-data-table-sort="roleStatus">
                                {{'table.promotionsManage.th2' | translate}}
                            </td>
                            <td style="width: 17%">{{'table.button.operation' | translate}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in showPromotionsManage">
                            <td>
                                <span editable-text="item.code" e-name="code" e-formclass="xeditable-md"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.code || '' }}</span>
                            </td>
                            <td>
                                <span editable-text="item.name" e-name="name" e-formclass="xeditable-md"
                                      onbeforesave="checkRequiredData($data)" e-form="rowform" e-required="">{{ item.name || '' }}</span>
                            </td>
                            <td>
                                    <span editable-select="item.roleStatus" e-name="roleStatus" e-form="rowform"
                                          onbeforesave="checkRequiredData($data)"
                                          e-ng-options="option.value as option.label for option in adminSelect012.options">
                                        <span ng-bind-html="filter012OptionsValue(item.roleStatus)"></span>
                                    </span>
                            </td>
                            <td style="white-space: nowrap;">
                                <form class="form-buttons form-inline" editable-form name="rowform"
                                      onaftersave="savePromotionsManage(item, $data)" ng-show="rowform.$visible"
                                      shown="validIsNew(item._id)">
                                    <button class="btn btn-sm btn-info" type="submit" ng-disabled="rowform.$waiting"
                                            title="{{'table.button.save' | translate}}">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button class="btn btn-sm btn-default" type="button" ng-disabled="rowform.$waiting"
                                            ng-click="rowform.$cancel();cancelSave(item,$index)"
                                            title="{{'table.button.cancel' | translate}}">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()"
                                            title="{{'table.button.edit' | translate}}">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button class="btn btn-sm btn-danger" ng-click="deletePromotionsManage(item)"
                                            title="{{'table.button.delete' | translate}}">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="showPromotionsManage.length==0">
                            <td colspan="4" class="">{{'table.no_date' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>