<div class='modal-header'>
    <h3 class='modal-title'>{{edit +'提款'}}</h3>
</div>

<div class='modal-body'>
    <div class='row'>
        <div class=''>
            <div class='panel-wrapper'>
                <div class='panel-body'>
                    <form class='form-horizontal'>
                        <legend class='text-center'>用户信息</legend>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>用户名</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.user.username' disabled='disabled' class='form-control'
                                    type='text'
                                >
                            </div>
                        </div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>用户ID</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.user.userId' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='clearfix'></div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>隶属</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.user.affiliate' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>隶属ID</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.user.affiliateId' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='clearfix'></div>
                        <legend class='text-center'>概况</legend>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>数量</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.amount' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>银行</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.bank' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='clearfix'></div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>钱包</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.wallet' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>货币</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.currency' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='clearfix'></div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>状态</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.status' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='clearfix'></div>
                        <legend class='text-center'>账目信息</legend>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>编号</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.account.number' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>名称</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.account.name' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>分支</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.withdraw.account.branch' disabled='disabled' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='clearfix'></div>
                        <legend class='text-center'>审核</legend>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>结果</label>
                            <div class='col-lg-8 col-md-6'>
                                <ui-select
                                    ng-model="withdrawsDetail.result"
                                    theme="bootstrap"
                                    search-enabled="false">
                                    <ui-select-match placeholder="choose result">
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.value as item in resultOptions">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class='form-group col-lg-6 col-md-12'>
                            <label class='col-lg-4 col-md-6 control-label'>建议</label>
                            <div class='col-lg-8 col-md-6'>
                                <input
                                    ng-model='withdrawsDetail.comment' class='form-control' type='text'
                                >
                            </div>
                        </div>
                        <div class='clearfix'></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='modal-footer'>
    <button class='btn btn-primary' type='button' ng-click='confirmModal()'>{{'table.button.save' | translate}}</button>
    <button
        class='btn btn-default' type='button' ng-click='cancelModal()'
    >{{'table.button.cancel' | translate}}</button>
</div>
